.Modal {
        max-height: calc(100vh - 50px);
	overflow-y: auto;
	position: relative;
}


.Detail {
        width: 80%;
        background: #FFFFFF;
        border-radius: 4px;
        position: relative;
        margin: 47px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        outline: none;
        padding: 37px;
    }

.Photo {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
}
.Photo img{
        width: 30%;
        height: 300px;
}